@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-font-family: Pretendard !important;
}

html {
  font-family: Pretendard !important;
}

.font-mono {
  font-family: Pretendard !important;
}

.reactEasyCrop_Contain,
.reactEasyCrop_Container {
  position: initial !important;
}

.reactEasyCrop_CropArea {
  box-shadow: none !important;
}